:root {
  --background: #121212;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
label {
  color: white !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.css-adhozc,
.css-1jszrx9,
.css-1q7fmto {
  color: white !important;
}

.css-1qmghj6,
.css-1vm28ub,
.css-1jszrx9.Mui-focused {
  color: #c2185b !important;
}

.css-1v2p1ol::after,
.css-3ey3pf::after,
.css-cfkamj::after,
.css-182l6hl::after {
  border-bottom: 2px solid #c2185b !important;
}

.css-iz33ar.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-11vm0qa.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #c2185b !important;
}

.react-tinder-card {
  position: absolute;
  will-change: transform;
  touch-action: none;
}
.tox-editor-header,
.tox-toolbar__primary {
  background-color: #282828 !important;
}
.tox .tox-tbtn {
  border-radius: 0.25rem !important;
  border: 0.0625rem solid rgb(55, 58, 64) !important;
  color: rgb(193, 194, 197) !important;
  min-width: 1.625rem !important;
  background: rgb(37, 38, 43) !important;
  padding: 0px !important;
  font-size: 1rem !important;
  display: flex !important;
}
.MuiListItem-gutters img {
  max-width: 100%;
}
.tox .tox-tbtn svg {
  fill: white !important;
}
.tox-tinymce {
  border-radius: 0px !important;
  border: none !important;
}

/* img {
  filter: blur(40px); 
} */

.mobile-sweeping-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  overflow: hidden;
}

.mobile-sweeping-container .profile-main-box {
  position: relative;
  width: 100%;
  min-width: 100%;
}

.mobile-sweeping-container .profile-img {
  width: 100%;
  height: 74vh;
  object-fit: cover;
  display: block;
  object-position: top;
}

.mobile-sweeping-container .profile-info {
  position: absolute;
  top: 10px;
  right: -5px;
  z-index: 2;
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding: 1rem;
}

.mobile-sweeping-container .preference_button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  object-fit: cover;
}

.mobile-sweeping-container .report-flag {
  position: absolute;
  z-index: 99;
  bottom: 75px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
